{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-no-missing-generic-family-keyword": false,
    "number-leading-zero": null,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": false,
    "no-eol-whitespace": false,
    "no-descending-specificity": false
  }
}
